<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>This is about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, iure vitae distinctio voluptate veniam tempora dolores voluptates omnis dolorem ducimus, doloribus expedita fugiat provident perferendis quod ea quidem ut debitis totam in aliquam vel delectus obcaecati? Dolor cumque ad non minima, exercitationem nulla delectus velit accusantium, consequatur dicta dolorem. Velit.</p>
</body>
</html>