<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1> This is HomePage</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maxime culpa inventore dolores corporis commodi adipisci, voluptatibus ipsam. Nam enim qui nihil eveniet laboriosam quibusdam similique molestias ab eos hic odit, sed explicabo modi dolore sequi numquam. Nesciunt cumque dolor esse officiis necessitatibus assumenda a.</P>
    <a href="about">ABOUT</a>
    <a href="users">USERS</a>
</body>
</html>